{% extends 'base.html'%}


{% block content%}


<h1>Product List</h1>

<ul class="list-group">
    <li class="list-group-item">soap</li>
    <li class="list-group-item">soap</li>
    <li class="list-group-item">soap</li>
    <li class="list-group-item">soap</li>
    <li class="list-group-item">soap</li>
    <li class="list-group-item">soap</li>
    <li class="list-group-item">soap</li>
    <li class="list-group-item">soap</li>
    <li class="list-group-item">soap</li>


</ul>


{% endblock %}



