{% extends 'base_auth.html'%}

{% load static %}

{% block content%}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">


        <div class="card mt-5">

         

            <div class="card-body" >

                <div class="card-title">

                    <h4>Set Your New Passowrd</h4>
    
                </div> 

                <form action="{% url 'resetpassword' uidb64 token %}" method="post">
                    {% csrf_token %} 
                    {% include 'partials/_messages.html'%}

                    

                


            

                  

                    
                    <div class="form-group p-2">
                        <input 
                        type="password" 
                        name="password"
                        placeholder="password" 
                        id="passwordField" 
                        class="form-control form-control-sm"/>
                        

                        
                    </div>

                    <div class="form-group p-2">
                        <input 
                        type="password" 
                        name="password2"
                        placeholder="Confirm Password" 
                        id="passwordField2" 
                        class="form-control form-control-sm"/>
                        

                        
                    </div>
                    <input 
                    type="submit" 
                    value="Submit" 
                    class="btn btn-primary  submit-btn"
                    style="display: block; width: 50%;  border-radius: 0%; text-align: center;  margin: 0 auto;"
                     />
                </form>
                <div class="text-center mt-3">
                    <a href="{% url 'login' %}" class="text-decoration-none"> have an account? Sign in here.</a>
                </div>
                <div class="text-center mt-3">
                    <a href="{% url 'register' %}" class="text-decoration-none">No Account? register</a>
                </div>

            </div>
            </div>
        </div>


    </div>
    <div class="col-md-4"></div>
    
</div>

<script src="{% static 'js/register.js'%}"></script>

{% endblock%}