{% extends 'base.html'%}

{% load static %}


{% block content%}


<div class="container">
    {% comment %} <div class="row mt-4 ">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Products
                </div>
                <div class="card-body">
                    Total : 400
                </div>
            </div>
        </div> {% endcomment %}
{% comment %} 
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Products
                </div>
                <div class="card-body">
                    Total : 400
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Products
                </div>
                <div class="card-body">
                    Total : 400
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Products
                </div>
                <div class="card-body">
                    Total : 400
                </div>
            </div>
        </div>
        
        

    </div>

    <div class="row mt-4 ">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Products
                </div>
                <div class="card-body">
                    Total : 400
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Products
                </div>
                <div class="card-body">
                    Total : 400
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Products
                </div>
                <div class="card-body">
                    Total : 400
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Products
                </div>
                <div class="card-body">
                    Total : 400
                </div>
            </div>
        </div>
        
        
        

    </div> {% endcomment %}


    <div class="row mt-4 ">
        <div class="col-md-6">
            <div class="card">

        
        <canvas id="myChart" width="400" height="300"></canvas>
             
                
            </div>
        </div>


        <div class="col-md-6">
            <div class="card">

        
        <canvas id="PIEAmount" width="400" height="300"></canvas>
             
                
            </div>
        </div>

       
    
     
        
        
        

    </div>
</div>
<script src="{% static 'js/dashboard.js' %}">

</script>



{% endblock%}