
{% extends 'base.html'%}
{% load static %}

{% block content%}
<div class="container">

    <div class="container mt-4">
    
        
            <div class="col-md-10">
               
            </div>
        
           
        </div>
    </div>

   
    <div class="card">

      <div class="card-body">
        <form action="{% url 'add-sells'%}" method="post">
          {% include 'partials/_messages.html'%}

          {% csrf_token %}
      <div class="form-group p-2">
        <label for="" >Name</label>
        <input 
        type="text" 
        class=" form-control form-control-sm"
         name="name"
         value="{{values.name}}"
         readonly 
         id="add-name"
         
         />
      </div>

      {% comment %} <div class="form-group p-2">
        <label for="" >Category</label>
        <input 
        type="text" 
        class=" form-control form-control-sm"
         name="category"
         readonly
         id="category-input"
         />
      </div> {% endcomment %}

      <div class="form-group p-2">
        <label for="" >Amount</label>
        <input 
        type="number" 
        class=" form-control form-control-sm" 
        name="amount"
        value="{{values.amount}}"

        />
      </div>

      <div class="form-group p-2">
        <label for="" >Qauntity</label>
        <input 
        type="number" 
        class="form-control form-control-sm" 
        name="qauntity"
        value="{{values.qauntity}"
        />
      </div>

      <div class="form-group p-2">
        <label for="" >Date</label>
        <input 
        type="date" 
        class="form-control form-control-sm" 
        name="sells_date"
        />
      </div>

      
      <input type="submit" value="submit" class="btn btn-primary sm p-2" style="display:block">



      <div class="modal" id="productModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Select Product</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- Product selection options -->
                    <div class="form-group">
                      <input type="text" class="form-control" id="searchProductField" placeholder="Search...">
                  </div>
                  <p>Select a product:</p>
                  <div id="productList"></div>

                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="ok-button" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>


    </form>

      </div>
    </div>



  
</div>

<script src="{% static 'js/addingSells.js' %}">

</script>

{% endblock %}