
{% extends 'base.html'%}

{% block content%}
<div class="container">

    <div class="container mt-4">
    
        
          <div class="row">
              <div class="col-md-10">
                <div class="col-md-10">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="">Sells</a></li>
                          
                        </ol>
                      </nav>
                </div>
            
              </div>
              
          </div>
           
        </div>
    </div>

   
    <div class="card">

      <div class="card-body">
        <form action="{% url 'sell_edit' sellsProduct.id %}" method="post">
          {% include 'partials/_messages.html'%}

          {% csrf_token %}
          
      <div class="form-group p-2">
        <label for="" >Name</label>
        <input 
        type="text" 
        class=" form-control form-control-sm"
         name="name"
         value="{{values.name}}"
         readonly
         />
      </div>

      <div class="form-group p-2">
        <label for="" >Amount</label>
        <input 
        type="number" 
        class=" form-control form-control-sm" 
        name="amount"
        value="{{values.amount}}"


        />
      </div>

      <div class="form-group p-2">
        <label for="" >Qauntity</label>
        <input 
        type="number" 
        class="form-control form-control-sm" 
        name="qauntity"
        value="{{values.qauntity}"
        />
      </div>

      <div class="form-group p-2">
        <label for="" >Date</label>
        <input 
        type="date" 
        class="form-control form-control-sm" 
        name="product_date"
        />
      </div>

      
      <input 
      type="submit"
       value="Save" 
       class="btn btn-primary  p-2">


    </form>

      </div>
    </div>



  
</div>

{% endblock %}